# Modul 3 - Praca domowa - Python

Zwykle istnieje wiele sposobów, żeby rozwiązać zadanie w Python. Także czasami warto spróbować opracować kod na 1-2 sposoby :)

## Zadanie - 1

Zadanie opiera się na danych z informacją o wyjściu statków z portu Gdańsk w okresie 2005-06.2020 ([Więcej o Danych](https://bit.ly/30HkRgS)).<br> Kroki:
* Wczytać zbiór danych w formacie `.csv`
* Wyświetlić listę kolumn ze zbioru
* Wyświetlić pierwsze 10 wierszy z wczytanego zbioru danych<br>
<br>![statek](https://media.giphy.com/media/o0eOCNkn7cSD6/giphy.gif)<br>
---
Wskazówka: uważaj na kodowanie plików. Zalecane wykorzystywanie `UTF-8`. Plik źródłowy ma błędne kodowanie, dlatego został ponownie zapisany w formacie `.csv` z separatorem ";".

---

Wczytaj dane w formacie `.csv` z separatorem `;` wykorzystując link: <br>https://akademiadatascience.s3-eu-west-1.amazonaws.com/materialy/sds/modul3/statki.csv

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

URL = "https://akademiadatascience.s3-eu-west-1.amazonaws.com/materialy/sds/modul3/statki.csv"
df= pd.read_csv(URL, sep =";")
df.head(10)

  Kod portu \n  ... Nabrzeże (miejsce zacumowania)
0        PLGDN  ...          NAB. SZCZECIŃSKIE GTK
1        PLGDN  ...                   WESTERPLATTE
2        PLGDN  ...          PRZEMYSŁOWE / WIŚLANE
3        PLGDN  ...       OBROŃCÓW POCZTY POLSKIEJ
4        PLGDN  ...                   WESTERPLATTE
5        PLGDN  ...       OBROŃCÓW POCZTY POLSKIEJ
6        PLGDN  ...               BPPP JETTY " R "
7        PLGDN  ...                       CHEMIKÓW
8        PLGDN  ...                   WESTERPLATTE
9        PLGDN  ...           NAB SZCZECIŃSKIE GTK

[10 rows x 12 columns]

In [ ]:
df.columns

Index(['Kod portu \n', 'Data wyjścia (rrrr-mm-dd)', 'Godzina wyjścia\n(hh:mm)',
       'Kod portu, \nprzeznaczenia ', 'Nazwa statku', 'Bandera', 'nr IMO',
       'Sygnał wywoławczy', 'Pojemność brutto \n(tony)', 'Długość (metry)',
       'Agent', 'Nabrzeże (miejsce zacumowania)'],
      dtype='object')

Usuń tabulatory w nazwach kolumn, bazując na wcześniej wczytanej tabeli.

In [ ]:
df.columns = df.columns.str.replace(r'\n',"")
df.columns = df.columns.str.replace(r'\t',"")
df.head()

  Kod portu   ... Nabrzeże (miejsce zacumowania)
0      PLGDN  ...          NAB. SZCZECIŃSKIE GTK
1      PLGDN  ...                   WESTERPLATTE
2      PLGDN  ...          PRZEMYSŁOWE / WIŚLANE
3      PLGDN  ...       OBROŃCÓW POCZTY POLSKIEJ
4      PLGDN  ...                   WESTERPLATTE

[5 rows x 12 columns]

## Zadanie - 2

Sprawdź rozmiar tabeli oraz typy danych wg. kolumn.

In [ ]:
df.shape

(11490, 12)

In [ ]:
df.dtypes

Kod portu                         object
Data wyjścia (rrrr-mm-dd)         object
Godzina wyjścia(hh:mm)            object
Kod portu, przeznaczenia          object
Nazwa statku                      object
Bandera                           object
nr IMO                            object
Sygnał wywoławczy                 object
Pojemność brutto (tony)            int64
Długość (metry)                   object
Agent                             object
Nabrzeże (miejsce zacumowania)    object
dtype: object

## Zadanie - 3

Wyświetl nazwę kolumny oraz pierwszą wartość z tej kolumny, przy czym połączenie nazwa kolumny - pierwsza wartość ma być wyświetlone w nowym wierszu odpowiednio.

In [ ]:
for column in df.columns:
  pierwszywiersz = df[column][0]
  print(column, pierwszywiersz, end = "\n")

Kod portu  PLGDN
Data wyjścia (rrrr-mm-dd) 04.01.2005
Godzina wyjścia(hh:mm) 12:00:00
Kod portu, przeznaczenia  RULED
Nazwa statku PETSAMO
Bandera Finland
nr IMO 7517545
Sygnał wywoławczy OIZH
Pojemność brutto (tony) 2356
Długość (metry) 84.00
Agent Cargo Service Co. Ltd Gdańsk
Nabrzeże (miejsce zacumowania) NAB. SZCZECIŃSKIE GTK

## Zadanie - 4

Zmień typ danych dla kolumn:<br><br>
* `Data wyjścia (rrrr-mm-dd)` na `date` uzywając funkcji: `pd.to_datetime(data, format = "%d.%m.%Y")`<br><br>

Na wartości numeryczne używając funkcji: `pd.to_numeric(liczba, errors = "coerce")` <br>gdzie `coerce` wymusza zamianę nieprawidłowych wartości na NaN:<br>
* `nr IMO` 
* `Długość (metry)`

In [ ]:
df["Data wyjścia (rrrr-mm-dd)"] = pd.to_datetime(df["Data wyjścia (rrrr-mm-dd)"], format = "%d.%m.%Y") 
df["nr IMO"] = pd.to_numeric(df["nr IMO"], errors = "coerce")
df["Długość (metry)"] = pd.to_numeric(df["Długość (metry)"], errors = "coerce")
df["Pojemność brutto (tony)"] = pd.to_numeric(df["Pojemność brutto (tony)"], errors = "coerce")

df.dropna(axis = 0)
df.head()

  Kod portu   ... Nabrzeże (miejsce zacumowania)
0      PLGDN  ...          NAB. SZCZECIŃSKIE GTK
1      PLGDN  ...                   WESTERPLATTE
2      PLGDN  ...          PRZEMYSŁOWE / WIŚLANE
3      PLGDN  ...       OBROŃCÓW POCZTY POLSKIEJ
4      PLGDN  ...                   WESTERPLATTE

[5 rows x 12 columns]

Sprawdź jaki jest efekt zmian:

In [ ]:
df.dtypes

Kod portu                                 object
Data wyjścia (rrrr-mm-dd)         datetime64[ns]
Godzina wyjścia(hh:mm)                    object
Kod portu, przeznaczenia                  object
Nazwa statku                              object
Bandera                                   object
nr IMO                                   float64
Sygnał wywoławczy                         object
Pojemność brutto (tony)                    int64
Długość (metry)                          float64
Agent                                     object
Nabrzeże (miejsce zacumowania)            object
dtype: object

## Zadanie - 5

Obetnij zbiór do 10000 wierszy:

In [ ]:
df = df.head(10000)
df.tail()

     Kod portu   ... Nabrzeże (miejsce zacumowania)
9995      PLGDN  ...             DCT -Przeładunkowe
9996      PLGDN  ...             DCT -Przeładunkowe
9997      PLGDN  ...              BPPP Stanowisko T
9998      PLGDN  ...             DCT -Przeładunkowe
9999      PLGDN  ...             DCT -Przeładunkowe

[5 rows x 12 columns]

Sprawdź podstawowe statystyki co do długości statków dodatkowo agregując wynik wg. kolumny Bandera (*przynależność państwowa statku*).

In [ ]:
df.groupby(["Bandera"])["Długość (metry)"].describe()

                     count        mean         std  ...     50%       75%       max
Bandera                                             ...
Anguilla               1.0   73.660000         NaN  ...   73.66   73.6600     73.66
Antigua and Barbuda  768.0  174.439076  783.604384  ...  137.50  152.0000  15808.00
Bahamas              152.0  204.697237   67.689633  ...  244.65  253.0000    334.45
Barbados               5.0   79.752000    1.927491  ...   78.89   78.8900     83.20
Belgium                4.0  133.642500   94.247735  ...   89.98  136.1925    274.83
...                    ...         ...         ...  ...     ...       ...       ...
Sweden               588.0  197.705595  805.693386  ...  149.95  155.4700  14401.00
Turkey                 6.0  164.421667   55.990485  ...  144.05  173.9525    269.19
United Kingdom       219.0  160.785890   61.360357  ...  139.50  161.0000    366.00
United States         34.0  185.374118   67.669120  ...  155.00  202.2350    399.00
Vanuatu                7.0  172.504286   62.642747  ...  199.52  228.5300    228.53

[61 rows x 8 columns]

Wg. przynależności państwowej statków, skąd są **średnio** **najdłuższe statki**, które wychodzą z portu Gdańsk? (Top 10)

In [ ]:
df.groupby(["Bandera"])["Długość (metry)"].mean().sort_values(ascending=False).head(10)

Bandera
Isle of Man                 379.749410
Denmark                     369.096494
Kuwait                      333.583333
Liberia                     327.549186
Hong Kong                   322.034526
Japan                       291.970000
Bermuda                     288.500000
Iran Islamic Republic of    274.000000
India                       254.778571
Cyprus                      254.252619
Name: Długość (metry), dtype: float64

Wg. przynależności państwowej statków, jaka jest **średnia największa** ich **pojemność brutto** (tony)? (Top 10)

In [ ]:
df.groupby(["Bandera"])["Pojemność brutto (tony)"].mean().sort_values(ascending=False).head(10)

Bandera
Kuwait                      160243.000000
Hong Kong                   132319.726316
Denmark                     103773.544693
Japan                        93182.000000
Bermuda                      88539.000000
Iran Islamic Republic of     81479.000000
Hong Kong                    81119.792857
India                        65479.714286
Greece                       64022.824885
Cayman Islands               61371.000000
Name: Pojemność brutto (tony), dtype: float64

In [ ]:
df.columns

Index(['Kod portu ', 'Data wyjścia (rrrr-mm-dd)', 'Godzina wyjścia(hh:mm)',
       'Kod portu, przeznaczenia ', 'Nazwa statku', 'Bandera', 'nr IMO',
       'Sygnał wywoławczy', 'Pojemność brutto (tony)', 'Długość (metry)',
       'Agent', 'Nabrzeże (miejsce zacumowania)'],
      dtype='object')

In [ ]:
df.dtypes

Kod portu                                 object
Data wyjścia (rrrr-mm-dd)         datetime64[ns]
Godzina wyjścia(hh:mm)                    object
Kod portu, przeznaczenia                  object
Nazwa statku                              object
Bandera                                   object
nr IMO                                   float64
Sygnał wywoławczy                         object
Pojemność brutto (tony)                    int64
Długość (metry)                          float64
Agent                                     object
Nabrzeże (miejsce zacumowania)            object
dtype: object

## Zadanie - 6 (dodatkowe)

Opracuj to zadanie wg. kroków:
* Stwórz bazę `SQLite`
* Wczytaj dane do stworzonej bazy wykorzystując Data Frame obcięty do 10K wierszy z zadania N5
* Opracuj zapytania SQL, które pozwolą odpowiedzieć na pytania:
> 1) Wg. przynależności państwowej statków, skąd są średnio **najkrótsze statki**, które wychodzą z portu Gdańsk? (Top 10 - bander z średnio najkrótszymi statkami)<br><br>
> 2) Wg. przynależności państwowej statków, jaka jest **średnia** ich **pojemność brutto** (tony)? (Top 10 - bander z średnio najemniejszą pojemnością statków)

![database](https://media.giphy.com/media/4FQMuOKR6zQRO/giphy.gif)

In [ ]:
# po kilku godzinach prób i błędów wyszło na to, że działa dopiero siódma zrobiona baza danych i piąta tabela... :) 

import sqlite3
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///SQLite7.db')
#bd=sqlite3.connect("SQLite5.db")
df2=df #kopia dataframe przed zmianami
df2.rename(columns= {"Kod portu ": "Port", "Data wyjścia (rrrr-mm-dd)": "DataWyjscia", "Godzina wyjścia(hh:mm)": "GodzinaWyjścia",
       "Kod portu, przeznaczenia ": "PortPrzeznaczenia", "Nazwa statku" : "Nazwa", "Bandera" : "Bandera", "nr IMO" : "IMO",
       "Sygnał wywoławczy" : "Sygnal", "Pojemność brutto (tony)" : "PojemnoscTony", "Długość (metry)" : "DlugoscMetry",
       "Agent" : "Agent", "Nabrzeże (miejsce zacumowania)" : "Nabrzeze"}, inplace = True)
#kursor = engine.cursor()
#kursor.execute('''CREATE TABLE SHIPS5 (Kod_portu text, Godzina_wyjścia timestamp, Data wyjścia date,  Kod_portu_przeznaczenia text, Nazwa_statku text, Bandera text, nr_IMO float, Sygnał_wywoławczy text, Pojemność_brutto integer, Długość_float, Agent text, Nabrzeże text)''')

       Port  ...                  Nabrzeze
0     PLGDN  ...     NAB. SZCZECIŃSKIE GTK
1     PLGDN  ...              WESTERPLATTE
2     PLGDN  ...     PRZEMYSŁOWE / WIŚLANE
3     PLGDN  ...  OBROŃCÓW POCZTY POLSKIEJ
4     PLGDN  ...              WESTERPLATTE
...     ...  ...                       ...
9995  PLGDN  ...        DCT -Przeładunkowe
9996  PLGDN  ...        DCT -Przeładunkowe
9997  PLGDN  ...         BPPP Stanowisko T
9998  PLGDN  ...        DCT -Przeładunkowe
9999  PLGDN  ...        DCT -Przeładunkowe

[10000 rows x 12 columns]

In [ ]:
# import sql > pandas i pandas > sql

dane = df2.to_sql(
    name = "SHIPS5",
    con = engine,
    index = False,
    if_exists = 'replace'
)
dane2 = pd.read_sql("select * from SHIPS5;", engine) # podwójne sprawdzenie czy działa
print(dane2) #sprawdzenie

       Port  ...                  Nabrzeze
0     PLGDN  ...     NAB. SZCZECIŃSKIE GTK
1     PLGDN  ...              WESTERPLATTE
2     PLGDN  ...     PRZEMYSŁOWE / WIŚLANE
3     PLGDN  ...  OBROŃCÓW POCZTY POLSKIEJ
4     PLGDN  ...              WESTERPLATTE
...     ...  ...                       ...
9995  PLGDN  ...        DCT -Przeładunkowe
9996  PLGDN  ...        DCT -Przeładunkowe
9997  PLGDN  ...         BPPP Stanowisko T
9998  PLGDN  ...        DCT -Przeładunkowe
9999  PLGDN  ...        DCT -Przeładunkowe

[10000 rows x 12 columns]

In [ ]:
#opisywanie kwerend
#kwerenda do przetłumaczenia python > SQL df.groupby(["Bandera"])["Długość (metry)"].mean().sort_values(ascending=True).head(10)
#zadanie 1 : 1) Wg. przynależności państwowej statków, skąd są średnio najkrótsze statki, które wychodzą z portu Gdańsk? (Top 10 - bander z średnio najkrótszymi statkami)
query1 = "SELECT * FROM SHIPS5 GROUP BY Bandera ORDER BY AVG(DlugoscMetry) ASC LIMIT 10"
query = pd.read_sql(query1, engine)
print(query)

    Port  ...            Nabrzeze
0  PLGDN  ...          Kapitanatu
1  PLGDN  ...        Pirs Węglowy
2  PLGDN  ...         PRZEMYSŁOWE
3  PLGDN  ...                Brak
4  PLGDN  ...    STOCZNIA GDANSKA
5  PLGDN  ...            OLIWSKIE
6  PLGDN  ...          Południowe
7  PLGDN  ...        ELEWATOR 3/4
8  PLGDN  ...  DCT -Przeładunkowe
9  PLGDN  ...        ELEWATOR 3/4

[10 rows x 12 columns]

In [ ]:
#opisywanie kwerend
#kwerenda do przetłumaczenia python > SQL df.groupby(["Bandera"])["PojemnoscTony"]].mean().sort_values(ascending=False).head(10)
#zadanie 2 : 2) Wg. przynależności państwowej statków, jaka jest średnia ich pojemność brutto (tony)? (Top 10 - bander z średnio najemniejszą pojemnością statków)
query2 = "SELECT * FROM SHIPS5 GROUP BY Bandera ORDER BY AVG(PojemnoscTony) ASC LIMIT 10"
query = pd.read_sql(query2, engine)
print(query)

    Port  ...            Nabrzeze
0  PLGDN  ...          Kapitanatu
1  PLGDN  ...        Pirs Węglowy
2  PLGDN  ...         PRZEMYSŁOWE
3  PLGDN  ...    STOCZNIA GDANSKA
4  PLGDN  ...            OLIWSKIE
5  PLGDN  ...        ELEWATOR 3/4
6  PLGDN  ...        ELEWATOR 3/4
7  PLGDN  ...                Brak
8  PLGDN  ...          Południowe
9  PLGDN  ...  DCT -Przeładunkowe

[10 rows x 12 columns]